/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* general */

body {
font-family: 'Open Sans', sans-serif;
}


body {
    border-top: 12px solid #FF887B;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}


* {
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

.text {
    color: whitesmoke;
}


/* header */

.tele {
    text-transform: uppercase;
    font-size: 1.75 em;
    border-right: 1px solid gray;
    padding: 10px;
    color: whitesmoke;
}

.pixelarity {
    margin-left: 10px;
    color: whitesmoke;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.nav-menu ul .current-page a {
    border-bottom: 1px solid #FF887B;
}
.nav-menu a {
    margin-left: 40px;
    color: whitesmoke;
}

.header-border {
   margin-top: 25px;
   position: absolute;
   z-index: 1;
   width: 1200px;
   /* margin: 0 auto; */
   position: fixed;
}
.nav-menu a:hover {
background-color: #FF887B;
}

.dropdown-one {
    display: none;
    position: relative;
}
.dropdown:hover > .dropdown-one {
    display: block;
}
.dropdown-two-list{
    display: none;
    position: absolute;
    left: -112%;
    top: 0%;
    z-index: 5;
   background: white;

}
.dropdown-two{
    position: relative;
    background: white !important;
}


.dropdown-two:hover > .dropdown-two-list {
    display: block;
    background: white;
}
/* .dropdown-two {
    margin-left: 170px;
    position: absolute;
    top: 0;
} */
.dropdown-one,
.dropdown-two  {
    background-color: white;
}
.dropdown-one {
    margin-top: 10px;
}

.dropdown-one li{
    border-bottom: 1px solid gray;
    padding: 15px;
    
}
.dropdown-one li:hover,
.dropdown-two li:hover {
    background-color: #FF887B;
}
.dropdown-one a {
    color: black;
    padding: 15px;
    /* border-bottom: 1px solid gray;  */
    /* text-decoration: none; */
}

/* hero section  */

.hero {
  background-image: url(./assets/pic01.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
    position: relative;
}
.hero-text {
    position: absolute;
    left: 0;
    /* right: 50%;? */
    top: 37%;
    right: 0;
    padding-bottom: 20px;
    max-width: 900px;
    /* margin: 0 auto; */
    border-bottom: 1px solid gray;
    text-align: center;
}

.hero-button {
    position: absolute;
    right: 0;
    margin-top: 50px;
    color: whitesmoke;
    text-align: center;
    top: 70%;
    left: 0;
    bottom: 0;
    /* display: inline-block; */
 
}

.btn {
    background-color: transparent;
    border: 1px solid whitesmoke;
    /* vertical-align: middle; */
    padding: 10px 10px;
    /* padding-bottom: 5px; */
    height: 30%;
    width: 15%;
    border-radius: 8px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: small;
    outline: 0;
}

.btn:hover {
    background-color: rgba(128, 128, 128, 0.5);
    /* box-shadow: 5px , 7px, 7px, 5px, goldenrod; */
}
h2 {
    color: whitesmoke;
    font-size: 58px;
}
.icon-container{
    background: white;
    height: 150px;
    width:150px ;
    border-radius: 50%;
    margin:  0 auto;
    padding-top: 150px;
}
.fas .fa-laptop {
    display: inline-block;
    text-align: center;
     color:#FF887B;

}
/* .fa-laptop {
 height: 100px;
 width: 100px;
 background-color: whitesmoke;   */
 

/* secondary section */
.secondary {
    margin-bottom: 80px;
}
.secondary-image {
    width: 30%;
    margin-right: 20px;
    padding-top: 80px;
}
.secondary-text {
    width: 70%;
    margin-left: 80px;
    padding-top : 80px;
}
.secondary-text h3 {
    color: #FF887B;
    font-weight: 800;
    padding-bottom: 10px;
}
.top{
   
    border-top: 1px solid rgb(201, 198, 198);
}
.bottom {
    border-bottom: 1px solid rgb(201, 198, 198);
}
.right {
    border-right: 1px solid rgb(201, 198, 198);
}
.left {
    border-left: 1px solid rgb(201, 198, 198);
}

.second {
    flex-wrap: wrap;
    
}
.second-border {
    padding: 40px;
    width: 50%;
}


/* pink */

.pink {
    background-color: #FF887B;

}
.pink-section {
    padding : 70px
}

.number {
    padding-left: 20px;
    width: 20%;
    text-align: center;
    /* padding: 15px; */

}
.pink-para{
    margin-top: 10px;
}
/* slider */
h4,
h3{
    font-size: larger;
    font-weight: 700;
}
.slider-main{
    margin: 60px 0;
}
.slider-text-section{
    width:40%;
    padding: 15px 0;
}
.slider-text-section p {
    padding-top: 30px;
}
.slider-image{
    width:40%;
    padding: 15px 0;
}
.flex-slider{
    display: flex;
    justify-content: space-around;
}
.slider-border{
    border: 1px solid gray;

}
.heading-container{
    margin-bottom: 15px;
}
.heading{
    padding: 15px;
    /* margin-bottom: 5px; */
}
/* quotes section */

.quotes-left, 
.quotes-right{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 50%;
    text-align: center;
    padding: 10em 0;
    /* position: relative; */
}
.quotes-left{
    background-image: url(./assets/pic03.jpg);
}
.quotes-right {
    background-image: url(./assets/pic04.jpg);
}
.quotes-flex {
    display: flex;
    /* justify-content: stretch; */
}
.color-pink {
    color: #FF887B;
} 
.quote{
    font-size: larger;
    font-weight: 700;
}
/* percent section */

.percent-heading {
    font-size: 30px;
    color: black;
    margin-bottom: 40px;
}
.percent {
    margin-bottom: 30px;
    padding: 20px;
    font-weight: 700;
    padding-top: 20px;
}
.line-container {
    position: relative;
    padding-bottom: 10px;
}
/* .black-line {
    border-bottom: 1px solid gray;
    position: absolute;
    width: ; width: 500px;
}
.red-line {
    border-bottom: 1px solid red;
    position: absolute;
    width: 400px;
} */

/* -webkit-appearance: progress-bar value {

} */
.percent-image{
    width: 45%;
    
}
.percent-list {
    width: 45%;
    
}

progress{
    width: 100%;
}

.percent-para {
    margin-top: 20px;
    text-align: justify;
    margin-bottom: 30px;
}

.learn-more {
    background-color: transparent;
   padding: 1em 2em;
    border-radius: 5px;
    border: 1px solid black;
    text-transform: uppercase;
    color: black;
}
/* form-section */

.form-section {
    background-color: #FF887B;
}
.form-display {
    border: 1px solid whitesmoke;
    background: transparent;
    border-radius: 2px;
    padding: 15px;
}

.name {
 color: white;
 font-size: medium;
 text-transform: capitalize;
}
.email {
    font-size: medium;
    text-transform: capitalize;
    margin-left: 10px;
    color: white;
}
.message {
    margin-top: 25px;
    /* padding: 60px; */
    padding-right: 100px;
    color: gray;
    width: 100%;
    height: 40vh;
}
.form {
    width: 600px
}
.contact {
    width: 300px;
}
.btn-submit {
    color: white;
    margin-top: 10px;
    padding: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
    font-size: small;
    width: 25%;
}
.border {
    border-bottom: 1px solid white;
    padding-top: 70px;
}

.foot {
    display: block;
    text-align: center;
    color: white;
    font-size: small;
    padding:20px;
    /* margin-top: 20px; */
    padding-top: 40px;
}

.foot-parent {
    height: 25vh;
}

@media all and (max-width:731px){
  .nav-menu {
      display:none;
  }  
  .header-border {
      position: absolute;
  }
  .hero {
      width: 100%;
  }

  .form-section{
      width: 100%;
      display: inline-block;
  }
  
}